body {
  --white-color: #fff;
  --black-color: #272727;
  --red-color: #ff6767;
  --transparent-grey-color: rgba(151, 151, 151, 0.6);
  --transparent-black-color: rgba(59, 59, 59, 0.6);
  --mute-icon-white: url('assets/img/mute-white.svg');
  --mute-icon-black: url('assets/img/mute.svg');
  --unmute-icon-white: url('assets/img/unmute-white.svg');
  --unmute-icon-black: url('assets/img/unmute.svg');
}